<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>project</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>

        <div id="root">

            <header id="site_header">

                <nav id="navbar" class="d-flex">

                    <div class="logo">
                        <img src="./assets/img/dark-logo.png" alt="">
                    </div>
                    <!-- /logo -->
                    
                    <ul class="d-flex">
                        <li v-for="link in navbar">
                            <a href="#">{{link}}</a>
                            <i class="fas fa-chevron-down"></i>
                        </li>
                        <li>
                            <a href="#">
                                <i class="far fa-user"></i>
                            </a>
                        </li>
                    </ul>

                    <div id="search" class="d-flex">
                        <input type="text" placeholder="Search..">
                        <i class="fas fa-search"></i>
                    </div>
                    <!-- #search -->
                </nav>
                <!-- /#navbar -->

                <div id="jumbotron" class="d-flex">

                    <div>
                        <h1>Distant learning for further expansion</h1>
                        <p>Learning is a long life journey that in fact we never find the terminate stop. Stop searching, enjoy the process</p>
                        <button class="button">
                            <i class="fas fa-download"></i>
                            Download free guide
                        </button>
                        <div>
                            <a href="#">Have questions?
                                <span class="color_acqua">
                                    Get Free Sample
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div>
                        <span>
                            <img src="./assets/img/maxcoach-shape-08.png" alt="">
                            <img src="./assets/img/maxcoach-shape-08.png" alt="">
                        </span>
                        <img src="./assets/img/about-me-profile-ohm4dxoearqbxny7q3bq1pzbdgofdx0tobbeqcvzd0.jpg" alt="" class="profilo">
                        <img src="./assets/img/maxcoach-shape-07.png" alt="">
                        <img src="./assets/img/maxcoach-shape-02.png" alt="">
                    </div>

                    <ul class="d-flex">
                        <li>
                            <a href="#">
                                <i class="fas fa-ruler"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="far fa-life-ring"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-book"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /#jumbotron -->

                <div id="partners" class="d-flex">
                    <div v-for = "partner in partners">
                        <img :src="'./assets/img/client-logo-'+partner.img+'.png'" alt="">
                    </div>
                </div>
                <!-- /#partners -->

            </header>
            <!-- /#site_header -->
    
            <main id="main_content">

                <section id="courses" class="d-flex">

                    <div>
                        <h6>stimulated to learn?</h6>
                        <h2>featured online courses</h2>
                    </div>

                    <div>
                        <div class="corso d-flex" v-for="corso in courses">

                            <div>
                                <img :src="'./assets/img/'+ corso.img" alt="">
                            </div>

                            <div class="d-flex">
                                <div class="costo">{{corso.costo}}</div>
                                <p class="info">{{corso.info}}</p>
                                <div class="lezioni">
                                    <span>
                                        <i class="far fa-file-alt"></i>
                                        {{corso.lezioni}} Lessons
                                    </span>
                                    <span>
                                        <i class="far fa-user"></i>
                                        {{corso.studenti}} Students
                                    </span>
                                </div>
                            </div>

                        </div>
                        <!-- /corso -->
                    </div>
                    
                    <button class="button">
                        View all courses
                        <i class="fas fa-long-arrow-alt-right"></i>
                    </button>
                    
                </section>
                <!-- /#courses -->

                <section id="smart_tutoring">

                    <div>
                        <h6>maxcoach available courses</h6>
                    <h2>Acces <span class="color_acqua">smart tutoring</span> program for benefit</h2>
                    </div>

                    <div class="d-flex">

                        <div class="card">
                            <img src="./assets/img/home-2-image-box-01.png" alt="">
                            <h3>customize preferences</h3>
                            <p>Learners ar given the right to arrange and customize their study schedule and timetable based on preferences</p>
                            <a href="#">
                                <span>
                                    Start here
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </span>
                            </a>
                        </div>
                        <!-- /card -->
    
                        <div class="card">
                            <img src="./assets/img/about-us-02-image-box-02.png" alt="">
                            <h3>cloud storage</h3>
                            <p>You can store online lessons via online cloud or download to your device and revice lessons on the way</p>
                            <a href="#">
                                <span>
                                    Get Free Quote
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </span>
                            </a>
                        </div>
                        <!-- /card -->
    
                        <div class="card">
                            <img src="./assets/img/home-2-image-box-03.png" alt="">
                            <h3>Multimedia channels</h3>
                            <p>We provide studio materials with various formats: video, audio, slides, doc, prints, books and applications</p>
                            <a href="#">
                                <span>
                                    Start now
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </span>
                            </a>
                        </div>
                        <!-- /card -->
                    </div>

                </section>
                <!-- /#smart_tutoring -->

                <section id="video">
                    
                    <div class="d-flex">
                        <div class="profilo">
                            <div></div>
                            <a href="https://www.youtube.com/watch?v=ElFJ1qcl74U">
                                <img src="./assets/img/icon-youtube-play.png" alt="">
                            </a>
                            <img src="./assets/img/maxcoach-shape-07.png" alt="">
                            <img src="./assets/img/maxcoach-shape-05.png" alt="">
                        </div>
    
                        <div>
                            <h6>get started <span class="color_blue">effortlessly</span></h6>
                            <h2>enjoy our <span class="color_acqua">companionship</span></h2>
                            <p>Sneek peek into what has in store for you on our online teaching and mentoring portal. Seek for same hidden hints of early-bird reward as well.</p>
                            <a href="#">
                                <span>
                                    Download free guidebook
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>

                </section>
                <!-- /#video -->

                <section id="recensioni">

                    <div>
                        <h6>great word about maxcoach</h6>
                        <h2>Our <span class="color_acqua">top learners'</span> verbatim</h2>
        
                        <div class="carte d-flex">

                            <div class="card" v-for= "(recensione, index) in recensioni" :class="index - 1 === counter ? 'semi-active': 'd-none' ">
                                <h4 class="color_blue">{{recensione.titolo}}</h4>
                                <p>{{recensione.p}}</p>
                                <div class="d-flex">
                                    <div>
                                        <img :src="'./assets/img/testimonial-avata-'+ recensione.img + '.jpg'" alt="">
                                    </div>
                                    <div>
                                        <h5>{{recensione.nome}}</h5>
                                        <div class="color_grey">{{recensione.lavoro}}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- /card -->

                            <div v-if="counter == 3" class="card semi-active" >
                                <h4 class="color_blue">{{recensioni[0].titolo}}</h4>
                                <p>{{recensioni[0].p}}</p>
                                <div class="d-flex">
                                    <div>
                                        <img :src="'./assets/img/testimonial-avata-'+ recensioni[0].img + '.jpg'" alt="">
                                    </div>
                                    <div>
                                        <h5>{{recensioni[0].nome}}</h5>
                                        <div class="color_grey">{{recensioni[0].lavoro}}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- /card -->

                            <div class="card" v-for= "(recensione, index) in recensioni" :class="index === counter ? 'active': 'd-none' ">
                                <h4 class="color_blue">{{recensione.titolo}}</h4>
                                <p>{{recensione.p}}</p>
                                <div class="d-flex">
                                    <div>
                                        <img :src="'./assets/img/testimonial-avata-'+ recensione.img + '.jpg'" alt="">
                                    </div>
                                    <div>
                                        <h5>{{recensione.nome}}</h5>
                                        <div class="color_grey">{{recensione.lavoro}}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- /card -->

                            <div v-if="counter == 0" class="card semi-active" >
                                <h4 class="color_blue">{{recensioni[3].titolo}}</h4>
                                <p>{{recensioni[3].p}}</p>
                                <div class="d-flex">
                                    <div>
                                        <img :src="'./assets/img/testimonial-avata-'+ recensioni[3].img + '.jpg'" alt="">
                                    </div>
                                    <div>
                                        <h5>{{recensioni[3].nome}}</h5>
                                        <div class="color_grey">{{recensioni[3].lavoro}}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- /card -->

                            <div class="card" v-for= "(recensione, index) in recensioni" :class="index + 1 === counter ? 'semi-active': 'd-none' ">
                                <h4 class="color_blue">{{recensione.titolo}}</h4>
                                <p>{{recensione.p}}</p>
                                <div class="d-flex">
                                    <div>
                                        <img :src="'./assets/img/testimonial-avata-'+ recensione.img + '.jpg'" alt="">
                                    </div>
                                    <div>
                                        <h5>{{recensione.nome}}</h5>
                                        <div class="color_grey">{{recensione.lavoro}}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- /card -->
                            
                        </div>
                        <!-- /carte -->

                        <div class="d-flex">
                            <div class="dot" v-for= "(recensione, index) in recensioni" :class="index === counter ? 'attivo': '' "></div>
                            <!-- /dot -->
                        </div>
                    </div>

                </section>
                <!-- /#recensioni -->
                
                <section id="start">
                    <img src="./assets/img/maxcoach-shape-01.png" alt="">
                    <div>
                        <h5 class="color_blue">Start todat for getting <span class="color_acqua">Online certification</span></h5>
                        <h2 class="color_blue">You can be your own guiding star with your help</h2>
                        <button class="button">Get started now</button>
                    </div>
                    <img src="./assets/img/maxcoach-shape-02.png" alt="">
                </section>
                <!-- /#start -->

                <section id="data">

                    <div class="card">
                        <h6>successfully trained</h6>
                        <h2>1790</h2>
                        <h6>enrolled learners</h6>
                    </div>
                    <!-- /card -->

                    <div class="card">
                        <h6>proudly received</h6>
                        <h2>19</h2>
                        <h6>countrywide awards</h6>
                    </div>
                    <!-- /card -->

                    <div class="card">
                        <h6>Firmly Established</h6>
                        <h2>24</h2>
                        <h6>local brances</h6>
                    </div>
                    <!-- /card -->

                    <div class="card">
                        <h6>getting featured on</h6>
                        <h2>1090</h2>
                        <h6>blog post</h6>
                    </div>
                    <!-- /card -->
                    
                </section>
                <!-- /#data -->

                <section id="insights">
                    <div class="d-flex">

                        <div class="d-flex">
                            <h6>enjoyable insights</h6>
                            <h2>most viewed <span class="color_acqua">best blog</span></h2>
                            <a href="#">
                                <i class="fas fa-long-arrow-alt-right"></i>
                                become a better blogger: content planning
                            </a>
                            <a href="#">
                                <i class="fas fa-long-arrow-alt-right"></i>
                                promoting your online buisness on pinterest
                            </a>
                            <a href="#">
                                <i class="fas fa-long-arrow-alt-right"></i>
                                gamification and game-based learning
                            </a>
                            <a href="#">
                                <i class="fas fa-long-arrow-alt-right"></i>
                                designing an online course from expert's perspective
                            </a>
                            <a href="#">
                                <i class="fas fa-long-arrow-alt-right"></i>
                                why online courses are the future of education
                            </a>
                        </div>

                        <div class="card">
                            <img src="./assets/img/artist-blog-03-480x352.jpeg" alt="">
                            <div>
                                <h6>artist</h6>
                                <p>brush strokes energize trees in paintings</p>
                                <span><i class="far fa-calendar"></i>May 15, 2020</span>
                                <span><i class="far fa-eye"></i>688 views</span>
                            </div>
                        </div>
                        <!-- /card -->

                        <div class="card">
                            <img src="./assets/img/artist-blog-01-480x352.jpg" alt="">
                            <div>
                                <h6>artist</h6>
                                <p>pocket strokes energize trees in paintings</p>
                                <span><i class="far fa-calendar"></i>May 15, 2020</span>
                                <span><i class="far fa-eye"></i>603 views</span>
                            </div>
                        </div>
                        <!-- /card -->

                    </div>

                </section>
                <!-- /#insights -->

                <section id="newsletters">

                    <div>
                        <h2>subscribe <span class="color_acqua">newsletters</span></h2>
                        <p>Enter your email addres to register to our newsletter subscription delivered on a regular basis!</p>
                        <form action="get">
                            <input type="email" placeholder="Enter your email" required>
                            <button type="submit" class="button">Subscribe</button>
                        </form>
                    </div>

                    <img src="./assets/img/maxcoach-shape-02.png" alt="">
                    
                </section>
                <!-- /#newsletters -->

            </main>
            <!-- /#main_content -->
    
            <footer id="site_footer">

                <div class="d-flex">

                    <div>
                        <h5>Address</h5>
                        <ul id="address">
                            <li v-for="info in address">
                                <a href="#">{{info}}</a>
                            </li>
                        </ul>
                        <!-- /#address -->

                        <ul id="social" class="d-flex">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- /#social -->
                    </div>
    
                    <div class="d-flex">
                        <div>
                            <h5>Explore</h5>
                            <div class="d-flex">
                                <ul class="explore">
                                    <li>
                                        <a href="#">Start here</a>
                                    </li>
                                    <li>
                                        <a href="#">Blog</a>
                                    </li>
                                    <li>
                                        <a href="#">About us</a>
                                    </li>
                                </ul>
                                <ul class="explore">
                                    <li>
                                        <a href="#">Succes story</a>
                                    </li>
                                    <li>
                                        <a href="#">Courses</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /#explore -->
    
                        <div>
                            <h5>information</h5>
                            <ul id="information">
                                <li>
                                    <a href="#">Membership</a>
                                </li>
                                <li>
                                    <a href="#">Purchase guide</a>
                                </li>
                                <li>
                                    <a href="#">Privacy police</a>
                                </li>
                                <li>
                                    <a href="#">Terms of service</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /#information -->
                    </div>

                </div>

                <div id="copyright">
                    &#169;2020 maxcoach, All rights reserved
                </div>
                <!-- /#copyright -->

                <div id="arrow" @click="scroll">
                    <i class="fas fa-arrow-up"></i>
                </div>
                <!-- /#arrow -->
            </footer>
            <!-- /#site_footer -->
        </div>
        <!-- /#root -->
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="./assets/js/main.js"></script>
    </body>
</html>