<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>project</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>

        <div id="root">

            <header id="site_header">

                <nav id="navbar" class="d-flex">

                    <div class="logo">
                        <img src="./assets/img/dark-logo.png" alt="">
                    </div>
                    <!-- /logo -->
                    
                    <ul class="d-flex">
                        <li>
                            home
                            <i class="fas fa-chevron-down"></i>
                        </li>
                        <li>
                            pages
                            <i class="fas fa-chevron-down"></i>
                        </li>
                        <li>
                            courses
                            <i class="fas fa-chevron-down"></i>
                        </li>
                        <li>
                            features
                            <i class="fas fa-chevron-down"></i>
                        </li>
                        <li>
                            blog
                            <i class="fas fa-chevron-down"></i>
                        </li>
                        <li>
                            shop
                            <i class="fas fa-chevron-down"></i>
                        </li>
                    </ul>

                    <div id="search" class="d-flex">
                        <input type="text" placeholder="Search..">
                        <i class="fas fa-search"></i>
                    </div>
                    <!-- #search -->
                </nav>
                <!-- /#navbar -->
                <div id="jumbotron" class="d-flex">

                    <div>
                        <h1>Distant learning for further expansion</h1>
                        <p>Learning is a long life journey that in fact we never find the terminate stop. Stop searching, enjoy the process</p>
                        <button class="button">
                            <i class="fas fa-download"></i>
                            Download free guide
                        </button>
                        <div>
                            <a href="#">Have questions?
                                <span class="color_acqua">
                                    Get Free Sample
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div>
                        <span>
                            <div>
                                <img src="./assets/img/maxcoach-shape-08.png" alt="">
                            </div>
                            <div>
                                <img src="./assets/img/maxcoach-shape-08.png" alt="">
                            </div>
                        </span>
                        <img src="./assets/img/about-me-profile-ohm4dxoearqbxny7q3bq1pzbdgofdx0tobbeqcvzd0.jpg" alt="" class="profilo">
                        <img src="./assets/img/maxcoach-shape-07.png" alt="">
                        <img src="./assets/img/maxcoach-shape-02.png" alt="">
                    </div>
                </div>
                <!-- /#jumbotron -->

                <div id="partners" class="d-flex">
                    <div v-for = "partner in partners">
                        <img src="" alt="">
                    </div>
                </div>
                <!-- /#partners -->
                
            </header>
            <!-- /#site_header -->
    
            <main id="main_content">

                <section id="courses">
                    <h6></h6>
                    <h2></h2>
                    <div class="corso" v-for="corso in courses">
                        <img src="" alt="">
                        <div></div>
                        <p></p>
                        <span></span>
                        <span></span>
                    </div>
                    <!-- /corso -->
                </section>
                <!-- /#courses -->

                <section id="smart_tutoring">
                    <h6></h6>
                    <h2></h2>

                    <div class="card">
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <a href="#"></a>
                    </div>
                    <!-- /card -->

                    <div class="card">
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <a href="#"></a>
                    </div>
                    <!-- /card -->

                    <div class="card">
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <a href="#"></a>
                    </div>
                    <!-- /card -->
                </section>
                <!-- /#smart_tutoring -->

                <section id="video">
                    <div>
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                        <div>
                            <!-- immagine video -->
                            <img src="" alt="">
                        </div>
                    </div>

                    <div>
                        <h6></h6>
                        <h2></h2>
                        <p></p>
                        <a href="#"></a>
                    </div>
                </section>
                <!-- /#video -->

                <section id="recensioni">
                    <h6></h6>
                    <h2></h2>
                    <div class="card" v-for= "recensione in recensioni">
                        <h4></h4>
                        <p></p>
                        <div>
                            <img src="" alt="">
                            <h5></h5>
                            <p></p>
                        </div>
                    </div>
                    <!-- /card -->
                </section>
                <!-- /#recensioni -->

                <section id="start">
                    <img src="" alt="">
                    <div>
                        <h5></h5>
                    <h2></h2>
                    <button></button>
                    </div>
                    <img src="" alt="">
                </section>
                <!-- /#start -->

                <section id="data">
                    <div class="card">
                        <h6></h6>
                        <h2></h2>
                        <h6></h6>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <h6></h6>
                        <h2></h2>
                        <h6></h6>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <h6></h6>
                        <h2></h2>
                        <h6></h6>
                    </div>
                    <!-- /card -->
                </section>
                <!-- /#data -->

                <section id="insights">
                    <div>
                        <h6></h6>
                    <h2></h2>
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                    </div>
                    <div class="card">
                        <img src="" alt="">
                        <h6></h6>
                        <p></p>
                        <span></span>
                        <span></span>
                    </div>
                </section>
                <!-- /#insights -->

                <section id="newsletters">
                    <img src="" alt="">
                    <div>
                        <h2></h2>
                        <p></p>
                        <form action="">
                            <input type="text" placeholder="Enter your email">
                            <button type="submit"></button>
                        </form>
                    </div>
                    <img src="" alt="">
                </section>
                <!-- /#newsletters -->

            </main>
            <!-- /#main_content -->
    
            <footer id="site_footer">

                <div>

                    <div>
                        <h5></h5>
                        <ul id="addres">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <!-- /#addres -->
                        <ul id="social">
                            
                        </ul>
                        <!-- /#social -->
                    </div>
    
                    <div>
                        <h5></h5>
                        <ul id="explore">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <!-- /#explore -->
                    </div>
    
                    <div>
                        <h5></h5>
                        <ul id="information">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <!-- /#information -->
                    </div>
                </div>

                <div id="copyright">

                </div>
                <!-- /#copyright -->

                <div id="arrow">

                </div>
                <!-- /#arrow -->
            </footer>
            <!-- /#site_footer -->
        </div>
        <!-- /#root -->
        

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="./assets/js/main.js"></script>
    </body>
</html>