*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto;
}
ul{
    list-style: none;
}

.d-flex{
    display: flex;
}

a{
    text-decoration: none;
}

i.fa-long-arrow-alt-right{
    vertical-align: middle;
}

.d-none{
    display: none;
}

.button{
    color: white;
    background-color: #1fad96;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}

.color_acqua{
    color: #1fad96;
}

.color_blue{
    color: #48495f;
}

.color_grey{
    color: #aeadae;
}
/* /utility class */
#navbar{
    height: 60px;
    align-items: center;
    box-shadow: 2px 2px 2px 2px #f3f6f5;
}

.logo img{
    width: 150px;
}

.logo{
    width: 400px;
    display: flex;
    justify-content: center;
}

#navbar ul{
    text-transform: capitalize;
    margin: 50px;
}

#navbar ul li{
    margin: 15px;
    display: flex;
    color: #48495f;
    cursor: pointer;
}

#navbar ul li i{
    margin: 5px 2px;
    font-size: 0.7rem;
}

#search{
    position: relative;
}

#search input{
    padding: 10px;
    background-color: #f3f6f5;
    border: 0px;
    border-radius: 5px;
    font-size: 1.1rem;
    outline: 0;
}

#search i{
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    color: #25ab94;
    cursor: pointer;
}
/* /navbar */
#jumbotron{
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
}

#jumbotron > div:first-child{
    width: 30%;
}

#jumbotron h1{
    color: #48495f;
    margin-bottom: 20px;
}

#jumbotron p, #jumbotron a{
    color: #aeadae;
}

#jumbotron button{
    margin: 20px 0;
}

#jumbotron a span{
    font-weight: 700;
}

#jumbotron > div:nth-child(2){
    height: 600px;
    position: relative;
    width: 800px;
}

#jumbotron > div:nth-child(2) > span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
}

#jumbotron > div:nth-child(2) > span > div{
    margin: 20px 0;
}

#jumbotron > div:nth-child(2) .profilo{
    z-index: 1;
    border-radius: 50%;
    position: absolute;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#jumbotron > div:nth-child(2) > img:nth-child(3){
    position: absolute;
    bottom: 10%;
    right: 20%;
    z-index: 0;
}

#jumbotron > div:nth-child(2) > img:last-child{
    position: absolute;
    top: 20%;
    right: 5%;
    z-index: 0;
}
/* /jumbotron */
#partners{
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.7;
    padding: 50px 0;
}
/* /partners */
/* /header */
#courses{
    background-color: #f3f6f5;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

#courses > div:first-child{
    margin-bottom: 20px;
}

#courses h6{
    text-transform: uppercase;
    color: #aeadae;
    text-align: center;
}

#courses h2{
    text-transform: capitalize;
    color: #48495f;
    text-align: center;
    margin: 10px;
}

#courses > div:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: center;
    padding-bottom: 30px;
}

.corso{
    flex-basis: 40%;
    margin: 10px;
    align-items: center;
}

.corso > div:first-child{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px;
}

.corso > div:first-child > img{
    width: auto;
    height: 100%;
}

.corso > div.d-flex{
    flex-direction: column;
}

.corso .costo{
    color: #1fad96;
    font-weight: 700;
    font-size: 1.2rem;
}

.corso .info{
    color: #48495f;
    font-weight: 900;
}

.corso .lezioni{
    color: #aeadae;
    margin: 10px 0;
}

.corso > div.d-flex span{
    margin-right: 10px;
}
/* /courses */
#smart_tutoring{
    padding: 50px 0;
}

#smart_tutoring h6{
    text-transform: uppercase;
    color: #aeadae;
    text-align: center;
}

#smart_tutoring h2{
    text-transform: capitalize;
    color: #48495f;
    text-align: center;
    margin: 10px;
}

#smart_tutoring{
    width: 90%;
    margin: auto;
}

#smart_tutoring > div:nth-child(2){
    justify-content: center;
}

#smart_tutoring .card{
    margin: 50px;
    flex-basis: calc(100% / 3);
}

#smart_tutoring .card h3{
    text-transform: capitalize;
    color: #48495f;
    margin: 10px 0;
}

#smart_tutoring .card p, #smart_tutoring .card a{
    color: #aeadae;
    margin: 10px 0;
}

#smart_tutoring .card a{
    font-weight: 700;
}
/* /smart_tutoring */
#video{
    width: 90%;
    margin: auto;
    padding-bottom: 250px;
}

#video > div.profilo{
    width: 700px;
    height: 450px;
    position: relative;
    left: 50px;
}

#video div.profilo > div{
    width: 100%;
    height: 100%;
    background-image: url('../img/home-2-popup-video-poster.jpg');
    position: absolute;
    background-size: cover;
    background-position: center;
    box-shadow: 2px 10px 10px 0px lightgray;
    z-index: 1;
}

#video > div.profilo img:nth-child(2){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#video > div.profilo > img:nth-child(3){
    position: absolute;
    bottom: -30%;
    right: -5%;
    z-index: 0;
}

#video > div.profilo > img:nth-child(4){
    position: absolute;
    top: 10%;
    left: -15%;
    z-index: 0;
}

#video > div:nth-child(2){
    margin: 0 100px;
    width: 30%;
}

#video h6{
    text-transform: uppercase;
    color: #aeadae;
    font-size: 1rem;
}

#video h2{
    font-size: 2.5rem;
    text-transform: capitalize;
    color: #48495f;
    margin: 10px 0;
}

#video p{
    color: #aeadae;
    margin: 30px 0;
}

#video a{
    color: #1fad96;
    font-weight: 700;
}
/* /video */
#recensioni{
    background-color:  #f3f6f5;
}

#recensioni > div:first-child{
    width: 90%;
    margin: auto;
    padding: 50px 0;
}

#recensioni h6{
    text-transform: uppercase;
    color: #aeadae;
    text-align: center;
}

#recensioni h2{
    color: #48495f;
    margin: 10px 0;
    text-align: center;
}

#recensioni p{
    color: #aeadae;
    margin: 30px 0;
}

#recensioni div.carte{
    width: calc(100% / 3);
}

.active{
    display: block;
    animation-name: opacità;
    animation-duration: 1s;
}

@keyframes opacità{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.attivo{
    background-color: #48495f;
}


#recensioni .card{
    padding: 25px;
    margin: 5px;
    background-color: white;
}

#recensioni .card h5{
    color: #48495f;
    text-transform: uppercase;
}

#recensioni div.carte div.card div.d-flex{
    align-items: center;
}

#recensioni img{
    margin-right: 10px;
    width: 50px;
    border-radius: 50%;
}

#recensioni > div > div.d-flex{
    justify-content: center;
    align-items: center;
}

#recensioni i{
    margin: 0 20px;
    font-size: 2.5rem;
    cursor: pointer;
    color: #aeadae;
}

#recensioni > div > div.d-flex > div.carte > div.d-flex{
    justify-content: center;
    margin-top: 10px;
}

#recensioni .dot{
    width: 0;
    height: 0;
    padding: 5px;
    border: 2px solid #48495f;
    border-radius: 50%;
    margin: 5px;
}
/* /recensioni */
#start{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    background-color: #f3f6f5;
    align-items: center;
}

#start div{
    margin: 0 50px;
    text-align: center;
}

#start h2{
    margin: 20px 0;
}

#start img:first-child{
    height: 30px;
}
/* /start */
#data{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#data .card{
    padding: 80px 40px;
    border: 1px solid #f3f6f5;
}

#data .card h6{
    color: #48495f;
    text-transform: capitalize;
    text-align: center;
    font-size: 1rem;
}

#data .card h2{
    color: #1fad96;
    font-size: 2.5rem;
    margin: 10px 0;
    text-align: center;
}

#data .card h6:nth-child(3){
    text-transform: uppercase;
    color: #aeadae;
    text-align: center;
    font-size: 0.7rem;
}
/* /data */
#insights{
    background-color: #c99f8e1e;
    padding: 50px 0;
}

#insights > div{
    width: 80%;
    margin: auto;
    justify-content: center;
}

#insights h6, #insights .card span{
    color: #aeadae;
    text-transform: uppercase;
}

#insights h2, #insights a, #insights .card p{
    color: #48495f;
    text-transform: capitalize;
    margin: 12px 0;
    font-weight: 700;
}

#insights > div > div.d-flex{
    flex-direction: column;
} 

#insights .card{
    background-color: white;
    cursor: pointer;
    width: 300px;
    margin: 0 20px;
}

#insights .card:hover{
    box-shadow: 1px 1px 50px 1px lightgrey;
    transform: scale(1.01);
    transition: all 0.5s;
}

#insights .card img{
    width: 100%;
}

#insights .card div{
    padding: 30px;
}

#insights .card div span{
    margin-right: 10px;
    font-size: 0.7rem;
}

#insights .card div span i{
    margin: 5px;
}